// Color Variables
$color-cyan: hsl(185, 75%, 39%)
$color-blue-dark: hsl(229, 23%, 23%)
$color-blue-gray: hsl(227, 10%, 46%)
$color-gray-dark: hsl(0, 0%, 59%)

// Typography Variables
$font-primary: 'Kumbh Sans', sans-serif

$font-sm: 1rem
$font-md: 1.2rem
$font-lg: 1.8rem //Name and Stats

// Margin Variables 
$space-xs: 0.5rem
$space-sm: 1rem
$space-md: 2.5rem
$space-lg: 3.6rem
