@use '../1-abstracts' as abst

/* * Html Styles */
html
    background-color: abst.$color-cyan

/* * Body Styles */
body 
    min-height: 100vh
    display: flex
    flex-direction: column
    font-family: abst.$font-primary
    